<h1 mat-dialog-title [style.text-align]="'center'">Detalle del Cargo Realizado</h1>
<div mat-dialog-content *ngIf="cargo != null">
  <p>Monto</p> {{cargo.amount}}
  <p>Monto reembolsado</p>{{cargo.amount_refunded}}
  <p>Codigo de Authorization</p> {{cargo.authorization_code}}
  <p>Puntos de Fraude</p> {{cargo.fraud_score}}
  <p>Id</p>{{cargo.id}}
  <p>Outcome</p> 
  <p>Outcome code</p>{{cargo.outcome.code}}
  <p>Mensaje de Pasarela</p> {{cargo.outcome.merchant_message}}
  <p>Mensaje al Usuario</p> {{cargo.outcome.user_message}}
  <p>Tipo de Mensaje</p> {{cargo.outcome.type}}
  <p>Reference code</p> {{cargo.outcome.code}}
  <p>Source</p> 
  <p>Numero de tarjeta</p> {{cargo.source.card_number}}
  <p>Email</p> {{cargo.source.email}}
  <p>Creacion</p> {{cargo.source.creation_date}}
  <p>Marca Tarjeta</p> {{cargo.source.iin.card_brand}}
  <p>Tipo tarjeta</p> {{cargo.source.iin.card_type}}
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="declinar()">SALIR</button>
</div>