<h1 mat-dialog-title [style.text-align]="'center'">Detalle del Cargo Realizado</h1>
<div mat-dialog-content>
  <p>{{data.mensaje}}</p>
  <p>Monto</p>
  <p>Monto reembolsado</p>
  <p>Codigo de Authorization</p>
  <p>Puntos de Fraude</p>
  <p>Id</p>
  <p>Outcome</p>
  <p>Outcome code</p>
  <p>Mensaje de Pasarela</p>
  <p>Mensaje al Usuario</p>
  <p>Tipo de Mensaje</p>
  <p>Reference code</p>
  <p>Source</p>
  <p>Numero de tarjeta</p>
  <p>Email</p>
  <p>Creacion</p>
  <p>Marca Tarjeta</p>
  <p>Tipo tarjeta</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="declinar()">SALIR</button>
</div>