<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-md btn-link" type="button" (click)="getUsuarios()"><i class="fa fa-align-justify"></i></button>
          &nbsp;USUARIOS
        </div>
        <div class="card-body">
          <div class="row col-form-label">
            <div class="col-md-2">
              <button class="btn btn-info" type="button" (click)="nuevo_usuario(nuevoUsuarioForm)" [hidden]="!mostrarBotonNuevo"><i
                  class="fa fa-plus"></i>&nbsp;Nuevo
                Usuario</button>
              <button class="btn btn-block btn-info" type="button" (click)="getUsuarios()" [hidden]="!mostrarBotonVolver"><i
                  class="fa fa-arrow-circle-left"></i>&nbsp;Volver</button>
            </div>
            <div class="col-md-10">
              <ng-flash-message></ng-flash-message>
            </div>
          </div>
          <mat-card [hidden]="!mostrarUsuarioForm">
            <mat-card-title>{{usuario_header}}</mat-card-title>
            <form #nuevoUsuarioForm="ngForm" class="datos-form" *ngIf="usuarioService.usuarioSeleccionado">
              <mat-card-content>
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado._id">
                <mat-form-field id="tipoDocumento" class="campo-form">
                  <mat-select name="tipoDocumento" #tipoDocumento="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.tipoDocumento"
                    placeholder="Tipo Documento">
                    <mat-option *ngFor="let tipodoc of tiposDocumento" [value]="tipodoc">{{tipodoc}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field id="numeroDocumento" class="campo-form">
                  <input matInput name="numeroDocumento" #numeroDocumento="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.numeroDocumento"
                    placeholder="Número de Documento" minlength="8" required>
                  <mat-error *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) && numeroDocumento.errors.required">El
                    número de Documento es obligatorio</mat-error>
                  <mat-error *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) && numeroDocumento.errors.minlength">El
                    documento debe tener mínimo 8 dígitos</mat-error>
                </mat-form-field>
                <mat-form-field id="nombres" class="campo-form">
                  <input matInput placeholder="Nombres" name="nombres" #nombres="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.nombres"
                    required>
                  <mat-error *ngIf="nombres.invalid && (nombres.dirty || nombres.touched) && nombres.errors.required">El
                    campo nombres es requerido</mat-error>
                </mat-form-field>
                <mat-form-field id="apellidos" class="campo-form">
                  <input matInput name="apellidos" #apellidos="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.apellidos"
                    placeholder="Apellidos" required>
                  <mat-error *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched) && apellidos.errors.required">El
                    campo apellidos es requerido</mat-error>
                </mat-form-field>
                <mat-form-field id="correo" class="campo-form">
                  <input matInput name="correo" #correo="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.correo"
                    placeholder="Correo Electrónico" [disabled]="!habilitarCorreo">
                </mat-form-field>
                <mat-radio-group id="sexo" name="sexo" #sexo="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.sexo">
                  <mat-label>Sexo: &nbsp;</mat-label>
                  <mat-radio-button value="F">&nbsp;Femenino&nbsp;</mat-radio-button>
                  <mat-radio-button value="M">&nbsp;Masculino&nbsp;</mat-radio-button>
                </mat-radio-group>
                <mat-form-field id="fechaNacimiento" class="campo-form">
                  <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" name="fechaNacimiento"
                    #fechaNacimiento="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.fechaNacimiento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field id="fechaAfiliacion" class="campo-form" [hidden]="!mostrarFechaAfiliacion">
                  <input matInput [matDatepicker]="fechaAfiliacion" placeholder="Fecha de Afiliación" name="fecha_afiliacion"
                    #fecha_afiliacion="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.fecha_afiliacion"
                    disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaAfiliacion"></mat-datepicker-toggle>
                  <mat-datepicker #fechaAfiliacion></mat-datepicker>
                </mat-form-field>
                <mat-checkbox id="promociones" name="promociones" #promociones="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.promociones">Promociones:
                </mat-checkbox>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="agregarUsuario(nuevoUsuarioForm)">{{boton_accion}}</button>
                <button mat-raised-button color="accent" (click)="resetForm" [hidden]="!mostrarBotonLimpiar">LIMPIAR</button>
                <button mat-raised-button color="warn" (click)="nueva_direccion(direccionForm,usuarioService.usuarioSeleccionado.correo)"
                  [hidden]="!mostrarBotonDireccion">AÑADIR
                  DIRECCIÓN</button>
              </mat-card-actions>
            </form>
          </mat-card>
          <mat-card [hidden]="!mostrarDireccion">
            <mat-card-title>{{direccion_header}}</mat-card-title>
            <mat-card-content>
              <form #nuevaDireccion="ngForm">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="direccionService.dirSelected._id">
                <mat-form-field id="departamento" class="campo-form">
                  <mat-select name="departamento" #departamento="ngModel" [(ngModel)]="direccionService.dirSelected.departamento"
                    (selectionChange)="departamento_selected($event.value)" placeholder="Departamento">
                    <mat-option *ngFor="let dep of regionService.regiones" [value]="dep.departamento">{{dep.departamento}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field id="provincia" class="campo-form">
                  <mat-select name="provincia" #provincia="ngModel" [(ngModel)]="direccionService.dirSelected.provincia"
                    (selectionChange)="provincia_selected($event.value)" placeholder="Provincia">
                    <mat-option *ngFor="let prov of regionService.departamentoSelected.provincias" [value]="prov.provincia">{{prov.provincia}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field id="distrito" class="campo-form">
                  <mat-select name="distrito" #distrito="ngModel" [(ngModel)]="direccionService.dirSelected.distrito"
                    placeholder="Distrito">
                    <mat-option *ngFor="let dis of regionService.provinciaSelected.distritos" [value]="dis">{{dis}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field id="direccion">
                  <input matInput name="direccion" #direccion="ngModel" [(ngModel)]="direccionService.dirSelected.direccion"
                    placeholder="Dirección" required>
                  <mat-error *ngIf="direccion.invalid && (direccion.dirty || direccion.touched) && direccion.errors.required">La
                    dirección es un campo requerido</mat-error>
                </mat-form-field>
                <mat-form-field id="tipolocal" class="campo-form">
                  <mat-select name="tipolocal" #tipoLocal="ngModel" [(ngModel)]="direccionService.dirSelected.tipolocal"
                    placeholder="Local de Envío">
                    <mat-option *ngFor="let vivienda of tiposVivienda" [value]="vivienda">{{vivienda}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field id="referencia">
                  <input matInput name="referencia" #referencia="ngModel" [(ngModel)]="direccionService.dirSelected.referencia"
                    placeholder="Referencia" required>
                </mat-form-field>
                <mat-error *ngIf="referencia.invalid && (referencia.dirty || referencia.touched) && referencia.errors.required">La
                  referencia es un campo obligatorio</mat-error>
                <mat-form-field id="telefono">
                  <input matInput name="telefono" #telefono="ngModel" [(ngModel)]="direccionService.dirSelected.telefono"
                    placeholder="Teléfono/Celular" required minlength="6">
                  <mat-error *ngIf="telefono.invalid && (telefono.dirty || telefono.touched) && telefono.errors.required">El
                    teléfono es un campo obligatorio</mat-error>
                  <mat-error *ngIf="telefono.invalid && (telefono.dirty || telefono.touched) && telefono.errors.minlength">El
                    telefono debe tener una longitud mínima de 6 digitos</mat-error>
                </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="agregarDireccion(nuevaDireccion)">{{boton_direccion}}</button>
              <button mat-raised-button color="accent" (click)="resetDireccionForm">LIMPIAR</button>
            </mat-card-actions>
          </mat-card>
          <div [hidden]="!mostrarListaUsuarios">
            <div style="width: 100%;text-align: center;" [hidden]="!mostrarCarga">
              <img src="assets/imagenes/carga.gif"> Cargando Datos
            </div>
            <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggers" class="table table-responsive-sm table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>CORRREO</th>
                  <th>NOMBRES Y APELLIDOS</th>
                  <th>DOCUMENTO</th>
                  <th>FECHA AFILIACIÓN</th>
                  <th>EDITAR</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarioService.usuarios">
                  <td>{{usuario.correo}}</td>
                  <td>{{usuario.nombres + ' ' + usuario.apellidos}}</td>
                  <td>{{usuario.tipoDocumento + ' : ' + usuario.numeroDocumento}}</td>
                  <td>{{usuario.fecha_afiliacion}}</td>
                  <td><button class="btn btn-sm btn-info" type="button" (click)="editarUsuario(usuario)">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <table class="table table-responsive-sm table-bordered table-striped table-sm" [hidden]="!mostrarListaDirecciones">
            <thead>
              <tr>
                <th>DIRECCIÓN</th>
                <th>DEPARTAMENTO</th>
                <th>PROVINCIA</th>
                <th>DISTRITO</th>
                <th>EDITAR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let direccion of direccionService.direcciones">
                <td>{{direccion.direccion}}</td>
                <td>{{direccion.departamento}}</td>
                <td>{{direccion.provincia}}</td>
                <td>{{direccion.distrito}}</td>
                <td><button class="btn btn-sm btn-info" type="button" (click)="editarDireccion(direccion)">Editar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>