table {
    width: 100%;
    font-size: 14px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .example-container {
    height: 200px;
    overflow: auto;
  }
  .example-form-field {
    width: 200px;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 35px;
  }