<app-header></app-header>
<app-menu></app-menu>
<div class="app-body">
  <main class="main">
    <app-breadcrumb [migas]="migas"></app-breadcrumb>
    <div class="container-fluid">
      <div class="card" id="divnombrecliente">
          <button class="btn btn-default" style="margin-right: 5px;" (click)="cambiarvista2()">
              <i class="fa fa-angle-left"></i> Regresar</button>
        <h2>Cliente:{{cliente}}</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-container">
                <table class="table" id="tablapedido">
                  <tr>
                    <th><i class="material-icons" style="color: chartreuse">
                        attach_money
                      </i>
                      <label style="font-weight: normal">Valor promedio de los pedidos:</label></th>
                    <th><i class="material-icons" style="color: yellow">
                        shopping_cart
                      </i>
                      <label style="font-weight: normal">Total de carritos:0</label></th>
                    <th><i class="material-icons" style="color: red">
                        remove_shopping_cart
                      </i>
                      <label style="font-weight: normal">Carritos abandonados:0</label>
                    </th>
                  </tr>
                </table>
                <table class="table" id="tabladetallepedido">
                  <tr>
                    <th><i class="material-icons" style="color: rgb(255, 0, 242);">
                        date_range
                      </i>
                      <label style="font-weight: normal">Fecha</label>
                    </th>
                    <th><i class="material-icons" style="color: rgb(21, 240, 39)">
                        attach_money
                      </i>
                      <label style="font-weight: normal">Total: {{preciototal}}</label>
                    </th>
                    <th><i class="material-icons" style="color: red">
                        chat
                      </i>
                      <label style="font-weight: normal">Mensajes</label>
                    </th>
                    <th><i class="material-icons" style="color: rgb(0, 140, 255)">
                        library_books
                      </i>
                      <label style="font-weight: normal">Productos</label>
                    </th>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <div class="col-lg-12" id="listapedidos">
            <div class="animated fadeIn">
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="width: 100%;">
                      <div class="card-header"> <i class="fa fa-list"></i>
                        <strong>Pedidos</strong>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6">
                          </div>
                          <div class="col-lg-12">
                            <!--  <div id="carga" style="width: 100%;text-align: center;">
                            <img src="assets/imagenes/carga.gif"> Cargando Datos
                          </div>-->
                            <div id="listarmarcas">
                              <table id="tablamarca" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggers" class="table table-responsive-sm table-sm table-striped table-hover"
                                style="font-size: 12px">
                                <thead>
                                  <tr>
                                    <th style="width: 8%">N° Pedido</th>
                                    <th style="width: 8%;">Cliente</th>
                                    <th style="width: 8%;">Entrega</th>
                                    <th style="width: 8%;">Fecha</th>
                                    <th style="width: 8%">Pago</th>
                                    <th style="width: 8%">Total</th>
                                    <th style="width: 14%">Estado</th>
                                    <th style="width: 4%"></th>
                                    <th style="width: 4%"></th>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let pedido of pedidosservice.pedidos" id="{{pedido._id}}">
                                    <td>{{pedido._id}}</td>
                                    <td>{{pedido.idUsuario}}</td>
                                    <td>{{pedido.EstadoEnvio}}</td>
                                    <td>{{pedido.FechaEnvio}}</td>
                                    <td>{{pedido.idTipoPago}}</td>
                                    <td>{{pedido.PrecioTotal}}</td>
                                    <td>{{pedido.EstadoPago}}</td>
                                    <td>
                                      <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-primary"><i class="material-icons">assignment</i></button>
                                        <button type="button" class="btn btn-primary"><i class="material-icons">local_shipping</i></button>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="btn-group btn-group-sm" role="group">
                                        <button *ngIf="pedido.EstadoPago=='Pagado'"  (click)="cambiarvista(pedido._id,pedido.idUsuario,pedido.idDireccion,pedido.PrecioTotal)"
                                          type="button" class="btn btn-success" style="background-color: green"><i class="material-icons">zoom_in</i>VER</button>
                                          <button *ngIf="pedido.EstadoPago=='Proceso'" (click)="cambiarvista(pedido._id,pedido.idUsuario,pedido.idDireccion,pedido.PrecioTotal)"
                                          type="button" class="btn btn-success"  style="background-color: orange"><i class="material-icons">zoom_in</i>VER</button>
                                          <button *ngIf="pedido.EstadoPago=='Reembolso'"  (click)="cambiarvista(pedido._id,pedido.idUsuario,pedido.idDireccion,pedido.PrecioTotal)"
                                          type="button" class="btn btn-success" style="background-color: yellow"><i class="material-icons">zoom_in</i>VER</button>
                                          <button *ngIf="pedido.EstadoPago=='Error de pago'" (click)="cambiarvista(pedido._id,pedido.idUsuario,pedido.idDireccion,pedido.PrecioTotal)"
                                          type="button" class="btn btn-success"  style="background-color: red"><i class="material-icons">zoom_in</i>VER</button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container-fluid" id="dettallepedido">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 portfolio-item portafolio-div1">
            <div class="card h-100">
              <div class="card-body">
                <p>
                  <mat-form-field>
                    <mat-select placeholder="Tipo Documento" [(value)]="tipodoc">
                      <mat-option value="BBV">Boleta</mat-option>
                      <mat-option value="FFV">Factura</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="margin-left: 50px">
                    <mat-label>Serie</mat-label>
                    <input matInput placeholder="Placeholder" [(ngModel)]="seriedoc">
                    <mat-icon matSuffix>assignment</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="margin-left: 50px">
                    <mat-label>Numero</mat-label>
                    <input matInput placeholder="Placeholder" [(ngModel)]="numerodoc">
                    <mat-icon matSuffix>assignment</mat-icon>
                  </mat-form-field>
                </p>
                <!--    <button class="btn btn-outline-primary" style="margin-right: 15px"><i class="material-icons" style="font-size: 18px;">print</i>&nbsp;Imprimir
                  pedido</button>
                <button class="btn btn-outline-success"><i class="material-icons" style="font-size: 18px;">print</i>&nbsp;Imprimir
                  fac tura</button>-->
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-6 portfolio-item">
            <div class="card h-100">
              <div class="card-header" style="height: 15px;">
                <p class="card-tittle" style="font-size:15px;margin-top: -13px"><i class="material-icons" style="font-size:20px;">assignment</i>&nbsp;Estado
                  del pedido</p>
              </div>
              <div class="card-body">
                <table class="table">
                  <tr>
                    <td style="color:black">Estado de Envio</td>
                    <td><label id="extadoselect" style="color:black">{{estadoenvio}}</label></td>
                    <td>
                      <select style="width: 150px" id="selectestado" class="form-control" (change)="cambiarestado()">
                        <option value="1" selected>Proceso</option>
                        <option value="3">Enviado</option>
                        <option value="4">Devolucion</option>
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-outline-success" style="font-size: 10px" (click)="actualizar()">ACTUALIZAR
                        ESTADO DE ENVIO</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Estado de Pago</td>
                    <td><label id="extadoselect2" style="color:black">{{estadopago}}</label></td>
                    <td>
                      <select style="width: 150px" id="selectestadopago" class="form-control" (change)="cambiarestadopago()">
                        <option value="p1" selected>Proceso</option>
                        <option value="p2">Error de pago</option>
                        <option value="p3">Pagado</option>
                        <option value="p4">Reembolso</option>
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-outline-success" style="font-size: 10px" (click)="actualizar2()">ACTUALIZAR
                        ESTADO DE PAGO</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Tipo de Pago</td>
                    <td>{{tipopago}}</td>
                    <td>N° Transaccion</td>
                    <td>{{nrotrans}}</td>
                  </tr>
                  <tr>
                    <td>Fecha de Compra</td>
                    <td>{{fechacompra}}</td>
                    <td>Fecha de Envio</td>
                    <td>
                      <mat-form-field style='margin-top: -15px'>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <div class="container-fluid ">
                  <div class="row">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-4">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--    <div class="col-lg-6 col-md-6 col-sm-6 portfolio-item">
            <div class="card h-100">
              <div class="card-header" style="height: 15px;">
                <p class="card-tittle" style="font-size:15px;margin-top: -13px"><i class="material-icons" style="font-size:20px;">payment</i>&nbsp;Pago</p>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <p class="card-text">Tipo Pago</p>
                  <p class="card-text">Estado Pago</p>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 portfolio-item">
            <div class="card h-100">
              <div class="card-header" style="height: 15px;">
                <p class="card-tittle" style="font-size:15px;margin-top: -13px"><i class="material-icons" style="font-size:20px;">mail_outline</i>&nbsp;Mensajes</p>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a>texto1</a>
                </h4>
                <p class="card-text">subtex1</p>
              </div>
            </div>
          </div>-->
          <div class="col-lg-12 col-md-6 col-sm-6 portfolio-item">
            <div class="card h-100">
              <div class="card-header" style="height: 15px;">
                <p class="card-tittle" style="font-size:15px;margin-top: -13px"><i class="material-icons" style="font-size:20px;">person</i>&nbsp;Cliente</p>
              </div>
              <div class="card-body">
                <table class="table">
                  <tr>
                    <td style="width: 10%;">Nombre:</td>
                    <td>{{cliente}}</td>
                    <td style="width: 10%;">Usuario:</td>
                    <td>{{clientesuser}}</td>
                  </tr>
                </table>
                <div class="card h-100">
                  <div class="card-header">
                    <p class="card-tittle" style="font-size:15px;margin-top: -13px"><i class="material-icons" style="font-size:20px;">person</i>&nbsp;Direccion</p>
                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <td>Direccion:</td>
                        <td>{{direccionenvio}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-3 portfolio-item">
            <div class="card h-100">
              <div class="card-header" style="height: 15px;">
                <p class="card-tittle" style="font-size:15px;margin-top: -13px"><i class="material-icons" style="font-size:20px;">shopping_cart</i>&nbsp;Productos</p>
              </div>
              <div class="card-body">
                <table class="table" style="font-size: 12px;">
                  <tr>
                    <th>Articulo</th>
                    <th>Linea</th>
                    <th>Plan</th>
                    <th>Nombre Plan</th>
                    <th>Precio</th>

                  </tr>
                  <tr *ngFor="let articulo of Articuloarreglo">
                    <td>{{articulo.titulo}}</td>
                    <td>{{articulo.tipolinea}}</td>
                    <td>{{articulo.tipoplan}}</td>
                    <td>{{articulo.nombreplan}}</td>
                    <td>s/. {{articulo.precio}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>s/. {{preciototal}}</td>
                  </tr>
                </table>
                <div>
                  <button mat-stroked-button color="primary" (click)="actualizarpago()">FINALIZAR VENTA</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>