<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="nav-icon icon-speedometer"></i> Admin
        </a>
      </li>
      <li class="nav-title">Usuarios</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-list" style="color: rgb(216, 136, 16);font-weight: bold;"></i> Lista Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-plus" style="color: green;font-weight: bold;"></i> Nuevo Usurario</a>
      </li>

      <li class="nav-title">Mantenimiento Articulos</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-screen-smartphone" style="color: green;"></i> Articulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categoria">
          <i class="nav-icon icon-list" ></i> Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-list"></i> Caracteristicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-list"></i> Marcas y Proveedores</a>
      </li>


      <li class="nav-title">Mantenimiento Clientes</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-people"></i> Clientes</a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-speech" style="color: orange;"></i> Servicio al Cliente</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="buttons/buttons.html">
              <i class="nav-icon icon-phone"  style="color: green;"></i> Atencion al Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/button-group.html">
              <i class="nav-icon icon-speech" style="color: rgb(52, 52, 158)"></i> Mensajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/dropdowns.html">
              <i class="nav-icon icon-trash" style="color:red"></i> Devoluciones</a>
          </li>
          <br><br>
        </ul>
      </li>     
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>