<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="nav-icon icon-speedometer"></i> Administrador
        </a>
      </li>
      <li class="nav-title">Mantenimiento Articulos</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articulos">
          <i class="nav-icon icon-screen-smartphone" style="color: green;"></i> Articulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categoria">
          <i class="nav-icon icon-list"></i> Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/caracteristicas">
          <i class="nav-icon icon-list"></i> Características</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/marca">
          <i class="nav-icon icon-list"></i> Marcas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/distribuidor">
          <i class="nav-icon icon-list"></i>Distribuidores</a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-screen-smartphone" style="color: orange;"></i>  Precios</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/precios">
              <i class="nav-icon icon-screen-smartphone" style="color: green;"></i> Actualizar Precios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/planes">
              <i class="nav-icon icon-screen-smartphone" style="color: rgb(52, 52, 158)"></i> Planes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/planesequipos">
              <i class="nav-icon icon-screen-smartphone" style="color: rgb(52, 52, 158)"></i> Precios Equipos</a>
          </li>

          <br><br>
        </ul>
      </li>

      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-speech" style="color: orange;"></i> Pedidos</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/pedidos">
              <i class="nav-icon icon-phone" style="color: green;"></i> Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carritocompras">
              <i class="nav-icon icon-speech" style="color: rgb(52, 52, 158)"></i> Carritos de Compras</a>
          </li>

          <br><br>
        </ul>
      </li>

      <li class="nav-title">Mantenimiento Clientes</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">
          <i class="nav-icon icon-people"></i> Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/region">
          <i class="nav-icon icon-people"></i> Lugares de Envío</a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
          <i class="nav-icon icon-speech" style="color: orange;"></i> Servicio al Cliente</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/servicio-cliente">
              <i class="nav-icon icon-phone" style="color: green;"></i> Atencion al Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/button-group.html">
              <i class="nav-icon icon-speech" style="color: rgb(52, 52, 158)"></i> Mensajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/dropdowns.html">
              <i class="nav-icon icon-trash" style="color:red"></i> Devoluciones</a>
          </li>
          <br><br>
        </ul>
      </li>
      <li class="nav-title">Mantenimiento Locales</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locales">
          <i class="nav-icon icon-people"></i> Tiendas</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>