<app-header></app-header>
<app-menu></app-menu>
<div class="app-body">
  <main class="main">
    <app-breadcrumb [migas]="migas"></app-breadcrumb>
    <mat-card>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div>
                <mat-form-field appearance="outline" style="margin-right: 8px">
                  <mat-label>Correo del Cliente</mat-label>
                  <input matInput placeholder="Correo" id="Correo" [(ngModel)]="datcorreo">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <label style="margin-right: 8px">O</label>
                <mat-form-field  appearance="outline" style="margin-right: 8px">
                  <mat-label>Nro de Pedido</mat-label>
                  <input matInput placeholder="Nro de Pedido" id="nroped" [(ngModel)]="datnroped">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <button mat-raised-button (click)="consultar()" >Consultar</button>
              </div>
          </div>
          <div class="col-lg-12" hidden id="datosSeg">
            <mat-card>
              <label>DATOS DEL PEDIDO</label>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>