<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
          &nbsp;LUGARES DE ENVÍO
        </div>
        <div class="card-body">
          <div class="row col-form-label">
            <ng-flash-message></ng-flash-message>
          </div>
          <div id="nuevo_usuario" class="card">
            <div class="card-header">
              DEPARTAMENTO
            </div>
            <div class="card-body">
              <!--<form #newRegionForm="ngForm" class="form-horizontal" (ngSubmit)="agregarRegion(newRegionForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="regionService.departamentoSelected._id">-->
                <div class="form-group row col-md-12">
                  <form id="divDepartamento" class="col-md-4 card" #depForm="ngForm"  (ngSubmit)="nuevoDepartamento(depForm)">
                    <div class="card-header">DEPARTAMENTO</div>
                    <div class="card-body">
                      <select class="col-md-12" size="10" multiple="">
                        <option *ngFor="let dep of regionService.regiones" [value]="dep.departamento" (click)="dep_selected($event.target.value)">{{dep.departamento}}</option>
                      </select>
                    </div>
                    <div class="card-footer">
                      <label for="newDepartamento">Nuevo departamento</label>
                      <div class="input-group">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="regionService.departamentoSelected._id">
                        <input class="form-control" type="text" id="newDepartamento" name="departamento" #departamento="ngModel" [(ngModel)]="regionService.departamentoSelected.departamento">
                        <span class="input-group-append">
                          <button class="btn btn-info" type="submit"><i class="fa fa-plus"></i></button>
                        </span>
                      </div>
                    </div>
                  </form>
                  <form id="divProvincia" class="col-md-4 card" #provForm="ngForm" (ngSubmit)="nuevaProvincia(provForm)">
                    <div class="card-header"> PROVINCIA</div>
                    <div class="card-body">
                      <select class="col-md-12" size="10" multiple="">
                        <option *ngFor="let prov of depSelected.provincias" [value]="prov.provincia" (click)="prov_selected($event.target.value)">{{prov.provincia}}</option>
                      </select>
                    </div>
                    <div class="card-footer">
                      <label for="newProvincia">Nueva Provincia</label>
                      <div class="input-group">
                          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="regionService.provinciaSelected._id">
                        <input class="form-control" type="text" name="provincia" #provincia="ngModel" [(ngModel)]="regionService.provinciaSelected.provincia">
                        <span class="input-group-append">
                          <button class="btn btn-info" type="submit"><i class="fa fa-plus"></i></button>
                        </span>
                      </div>
                    </div>
                  </form>
                  <form id="divDistrito" class="col-md-4 card" #distForm="ngForm" (ngSubmit)="nuevoDistrito(distForm)">
                    <div class="card-header">DISTRITO</div>
                    <div class="card-body">
                      <select class="col-md-12" size="10" multiple="">
                        <option *ngFor="let dis of provSelected.distritos" value="">{{dis}}</option>
                      </select>
                    </div>
                    <div class="card-footer">
                      <label for="newDistrito">Nuevo Distrito</label>
                      <div class="input-group">
                        <input class="form-control" type="text" name="distrito" #distrito="ngModel" [(ngModel)]="regionService.distritoSelected">
                        <span class="input-group-append">
                          <button class="btn btn-info" type="submit"><i class="fa fa-plus"></i></button>
                        </span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="form-group row">
                  <div id="botones" class="col-md-6 col-form-label">
                    <button class="btn btn-md btn-success" type="submit">
                      Agregar</button>
                    <button id="limpiar" class="btn btn-md btn-danger" type="button" (click)="resetForm(nuevoUsuarioForm)">Limpiar</button>
                    <button id="btnDireccion" class="btn btn-md btn-info" type="button" (click)="nueva_direccion(direccionForm, usuarioService.usuarioSeleccionado.correo)">Añadir
                      Dirección</button>
                  </div>
                </div>
             <!-- </form>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>