<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-3" style="padding: 0px !important;">
        <div class="card" style="width: 100%;">
            <div class="card-header" id="titulo-card"> <i class="fa fa-list"></i>
                <strong>Lista de Clientes</strong>
            </div>
            <div class="card-body" style="padding: 0px;">
                <div class="contenido-clientes" >
                    <div class="item-cliente" style="cursor:pointer;">
                        <div style="flex-grow: 0;cursor:pointer;">
                            <img src="./assets/imagenes/avatar-user.png" alt="" style="border-radius: 50%;" width="40px" height="40px">
                        </div>
                        <div style="display: flex;flex-direction: column;cursor:pointer;">
                            <label style="margin-left: 5px;">Cliente: Abel</label>
                            <label style="margin-left: 5px;">Asunto: RECLAMOS</label>
                        </div>                        
                    </div>
                    <div><hr style="padding: 0px; margin: 0px;cursor:pointer;"></div>                    
                    <div class="item-cliente">
                        <div style="flex-grow: 0;">
                            <img src="./assets/imagenes/avatar-user.png" alt="" style="border-radius: 50%;" width="40px" height="40px">
                        </div>
                        <div style="display: flex;flex-direction: column;">
                            <label style="margin-left: 5px;">Cliente: Abel</label>
                            <label style="margin-left: 5px;">Asunto: RECLAMOS</label>
                        </div>                        
                    </div>
                    <div><hr style="padding: 0px; margin: 0px;"></div>                    
                    <div class="item-cliente">
                        <div style="flex-grow: 0;">
                            <img src="./assets/imagenes/avatar-user.png" alt="" style="border-radius: 50%;" width="40px" height="40px">
                        </div>
                        <div style="display: flex;flex-direction: column;">
                            <label style="margin-left: 5px;">Cliente: Abel</label>
                            <label style="margin-left: 5px;">Asunto: RECLAMOS</label>
                        </div>                        
                    </div>
                    <div><hr style="padding: 0px; margin: 0px;"></div>                    
                    <div class="item-cliente">
                        <div style="flex-grow: 0;">
                            <img src="./assets/imagenes/avatar-user.png" alt="" style="border-radius: 50%;" width="40px" height="40px">
                        </div>
                        <div style="display: flex;flex-direction: column;">
                            <label style="margin-left: 5px;">Cliente: Abel</label>
                            <label style="margin-left: 5px;">Asunto: RECLAMOS</label>
                        </div>                        
                    </div>

                </div>

            </div>
        </div>
      </div>
      <div class="col-lg-9" style="padding: 0px !important;">
        <div class="card" style="width: 100%;">
            <div class="card-header" id="titulo-card"> <i class="fa fa-list"></i>
                <strong>Chat</strong>
            </div>
            <div class="card-body">

            </div>
        </div>

      </div>
    </div>
</div>