<div class="app-body">
    <main class="main">
        <app-breadcrumb [migas]="migas"></app-breadcrumb>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
                    <mat-card class="example-card" style="width: 100%;">
                        <mat-card-header>
                          <mat-card-title>Lista de Precios</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content style="min-height:300px;">
                          <div style="display: flex;flex-direction: row; width: 100%; margin-top: 10px;">
                              <button mat-raised-button> <i class="material-icons">
                                  cloud_download</i> Descargar Archivo Base
                              </button>
                              <button mat-raised-button style="margin-left: 5px;"><i class="material-icons">
                                  cloud_upload</i> Subir Archivo
                              </button>
                              <div style="height: 30px; width: 60%; margin-left: 15px;">
                                <label style="margin: 0; padding: 0;color: rgb(145, 145, 145);">Subiendo 50%</label>
                                  <section style="display: flex;align-content: center;align-items: center;height: 15px;">
                                      <mat-progress-bar
                                          [mode]="modo"
                                          [value]="progreso">
                                      </mat-progress-bar>
                                    </section>
                              </div>
                          </div>
                          <div style="display: none; width: 100%; flex-direction: column; margin-top: 10px;">
                              
                              <mat-card-content>
                                  <h5>Subiendo 50%</h5>                              
                                  
                                </mat-card-content>
                          </div>
                          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; margin-top:15px;">
                            <label style="color: rgb(124, 124, 124);">Ultima actualizacion: 25 de Julio del 2019</label>
                            <div style="width: 100%; margin-top: 10px;">
                              AQUI IRA UNA TABLE DE PRECIOS....
                            </div>

                          </div>
                          
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-stroked-button><i class="material-icons" style="color: red;" disabled>
                            close
                            </i> Cancelar</button>
                          <button mat-stroked-button style="margin-left: 10px;"><i class="material-icons" style="color:#3ac47d;" disabled>
                            save
                            </i> Guardar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>
        </div>
    </main>
</div>