<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#marca" role="tab" aria-controls="home"
      aria-selected="true">Atributos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#distribuidor" role="tab" aria-controls="profile"
      aria-selected="false">Características</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- nav1 -->
  <div class="tab-pane fade show active" id="marca" role="tabpanel" aria-labelledby="home-tab">
    <div class="example-button-row">
      <button mat-button>Crear Atributo<i class="material-icons">add </i></button>
      <button mat-button>Crear Atributo Detalle<i class="material-icons">add </i></button>
    </div>
  </div>
  <!-- nav2 -->
  <div class="tab-pane fade" id="distribuidor" role="tabpanel" aria-labelledby="profile-tab">

  </div>
  <!-- fin contenido -->