<app-header></app-header>
<app-menu></app-menu>
<div class="app-body">
  <main class="main">
    <app-breadcrumb [migas]="migas"></app-breadcrumb>
    <mat-card id="cardCaracteristica">
      <mat-card-header>
        <mat-card-title>CARACTERÍSTICAS</mat-card-title>
        <button mat-mini-fab color="primary" id="iconNuevo" (click)="nuevaCaracteristica()">
          <mat-icon aria-label="Nueva Característica">add_circle</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel [expanded]="step == 0" (opened)="setStep(0)" (closed)="nuevaCaracteristica()">
            <mat-expansion-panel-header>
              <mat-panel-title>Característica</mat-panel-title>
              <mat-panel-description>Datos de una característica</mat-panel-description>
            </mat-expansion-panel-header>
            <form #caracteristicaForm="ngForm" (ngSubmit)="saveCaracteristica(caracteristicaForm)">
              <mat-card>
                <mat-card-title>Característica</mat-card-title>
                <mat-card-content>
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="caracteristicaService.caracteristicaSelected._id">
                  <mat-form-field id="nombre">
                    <input matInput name="nombre" #nombre="ngModel" [(ngModel)]="caracteristicaService.caracteristicaSelected.nombre"
                      placeholder="Nombre de la Característica" required>
                    <mat-error *ngIf="nombre.invalid && (nombre.dirty || nombre.touched) && nombre.errors.required">El
                      nombre es obligatorio.</mat-error>
                  </mat-form-field>
                  <mat-form-field id="medida">
                    <input matInput name="medida" #medida="ngModel" [(ngModel)]="caracteristicaService.caracteristicaSelected.medida"
                      placeholder="Medida de la característica">
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" type="submit">{{accionBoton}}</button>
                </mat-card-actions>
              </mat-card>
            </form>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step == 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
              <mat-panel-title>Características</mat-panel-title>
              <mat-panel-description>Lista de las caracteristicas</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="datos" matSort>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="medida">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Medida </th>
                  <td mat-cell *matCellDef="let element"> {{element.medida}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>Editar</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent">
                      <mat-icon aria-label="Editar" (click)="editarCaracteristica(element)">create</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn">
                      <mat-icon aria-label="Eliminar" (click)="selectCaracteristica(element)">create</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="caracteristicasCol"></tr>
                <tr mat-row *matRowDef="let row; columns: caracteristicasCol;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </main>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 15%; ">
    <div class="modal-content" style="border:3px solid  rgb(5, 173, 41) !important; background-color: rgb(255, 255, 255);">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
        <br>
        <div style="display: flex; flex-direction: row;">
          <div style="flex-grow: 0; margin-top: auto; margin-bottom: auto; margin-left: 3px;">
            <label>¿Esta seguro de que desea eliminar esta característica?</label>
          </div>
        </div>
        <div id="botones" style="width: 100%; text-align: right;">
          <button class="btn btn-success" data-dismiss="modal" (click)="deleteCaracteristica()"> Si</button>
          <button class="btn btn-danger" data-dismiss="modal"> No</button>
        </div>
      </div>
    </div>
  </div>
</div>