<app-header></app-header>
<app-menu></app-menu>
<div class="app-body">
  <main class="main">
    <app-breadcrumb [migas]="migas"></app-breadcrumb>
    <mat-card style="margin: 10px;">
      <mat-card-header>
        <mat-card-title>Menú Principal de Inicio</mat-card-title>
        <button mat-mini-fab color="primary" id="iconNuevo" (click)="subirImagen()">
          <mat-icon aria-label="Subir Imágenes">cloud_upload</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <h3 mat-subheader>Carteles para equipos en el HOME</h3>
          <mat-list-item *ngFor="let cardItem of cartelesEquipos; let i = index;">
            <mat-icon mat-list-icon>dock</mat-icon>
            <mat-form-field style="margin: 5px 10px; width: 300px;">
              <mat-select placeholder="Equipo a mostrar">
                <mat-option *ngFor="let art of articuloService.listaArticulos" [value]="art.titulo">{{art.titulo}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-mini-fab style="margin: 5px 15px;">
              <mat-icon aria-label="Seleccionar imagen" (click)="seleccionarImagen(i)">insert_photo</mat-icon>
            </button>
            <label *ngIf="cardItem">{{cardItem.urlImagen}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Cartél para equipo con plan en HOME</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>Imagen 1</h4>
            <p mat-line> Hola mundo </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Carteles para accesorios en el HOME</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>Imagen 1</h4>
            <p mat-line> Hola mundo </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">GUARDAR</button>
      </mat-card-actions>
    </mat-card>
  </main>
</div>