#iconNuevo {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .nombre-imagen-cont{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    
}
.imagen-item-articulo {
  display: block;
  width: auto;
  height: 100%;
}
.imagen-item-articulo2 {
  display: block;
  height: 250px;
  width: auto;
  height: auto;  
  max-width: 100%;
}