<app-header></app-header>
<app-menu></app-menu>
<div class="app-body">
  <main class="main">
    <app-breadcrumb [migas]="migas"></app-breadcrumb>
    <mat-card style="margin: 10px;">
      <mat-card-header>
        <mat-card-title>Menú Principal de Inicio</mat-card-title>
        <button mat-mini-fab color="primary" id="iconNuevo" (click)="subirImagen()">
          <mat-icon aria-label="Subir Imágenes">cloud_upload</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <h3 mat-subheader>Carteles para equipos en el HOME</h3>
          <mat-list-item *ngFor="let cardItem of cartelesEquipos; let i = index;">
            <mat-icon mat-list-icon>dock</mat-icon>
            <mat-select placeholder="Equipo a mostrar" (selectionChange)="seleccionarCard(i, $event.value)">
              <mat-option *ngFor="let art of articuloService.listaArticulos" [value]="art">{{art.titulo}}</mat-option>
            </mat-select>
            <button mat-mini-fab style="margin: 5px 15px;" *ngIf="cardItem.idEquipo">
              <mat-icon aria-label="Seleccionar imagen" (click)="seleccionarImagen(i)">insert_photo</mat-icon>
            </button>
            <label *ngIf="cardItem.idEquipo && cardItem.urlImagen">{{cardItem.urlImagen}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Cartél para equipo con plan en HOME</h3>
          <mat-list-item *ngFor="let cardPlan of cartelPlan">
            <mat-icon mat-list-icon>phonelink_setup</mat-icon>
            <mat-select placeholder="Equipo a mostrar" (selectionChange)="(seleccionarCardPlan($event.value))">
              <mat-option *ngFor="let art of articuloService.listaArticulos" [value]="art">{{art.titulo}}</mat-option>
            </mat-select>
            <mat-select placeholder="Linea del articulo" *ngIf="cardPlan.idEquipo" (selectionChange)="seleccionarLinea($event.value)">
              <mat-option *ngFor="let linea of listaLineas" [value]="linea.valor">{{linea.nombre}}</mat-option>
            </mat-select>
            <mat-select placeholder="Tipo de Plan" *ngIf="cardPlan.linea && (cardPlan.linea == 'POSTPAGO')" (selectionChange)="seleccionarTipoPlan($event.value)">
              <mat-option *ngFor="let tipoPlan of listaTipoPlanes" [value]="tipoPlan.valor">{{tipoPlan.nombre}}</mat-option>
            </mat-select>
            <mat-select placeholder="Cuotas" *ngIf="cardPlan.tipoPlan && (cardPlan.linea == 'POSTPAGO')" (selectionChange)="seleccionarCuota($event.value)">
              <mat-option *ngFor="let cuota of listaCuotas" [value]="cuota.valor">{{cuota.nombre}}</mat-option>
            </mat-select>
            <mat-select placeholder="Plan a mostrar" *ngIf="cardPlan.tipoPlan || (cardPlan.linea == 'PREPAGO')" (selectionChange)="seleccionarPlan($event.value)">
              <mat-option *ngFor="let plan of listaPreciosFiltro" [value]="plan.nombreplan">{{plan.nombreplan}}</mat-option>
            </mat-select>
            <button mat-mini-fab style="margin: 5px 15px;" *ngIf=cardPlan.linea>
              <mat-icon aria-label="Seleccionar imagen" (click)="seleccionarImagen(6)">insert_photo</mat-icon>
            </button>
            <label *ngIf="cardPlan.urlImagen">{{cardPlan.urlImagen}}</label>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Carteles para accesorios en el HOME</h3>
          <mat-list-item *ngFor="let cardAcc of cartelesAccesorios; let j = index">
            <mat-icon mat-list-icon>devices</mat-icon>
            <mat-select placeholder="Accesorio a mostrar" (selectionChange)="seleccionarAccesorio(j, $event.value)">
              <mat-option *ngFor="let art of articuloService.listaArticulos" [value]="art">{{art.titulo}}</mat-option>
            </mat-select>
            <button mat-mini-fab style="margin: 5px 15px;" *ngIf="cardAcc.idEquipo">
              <mat-icon aria-label="Seleccionar imagen" (click)="seleccionarImagen(j+7)">insert_photo</mat-icon>
            </button>
            <label *ngIf="cardAcc.idEquipo">{{cardAcc.urlImagen}}</label>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="guardarCarteles()">GUARDAR</button>
      </mat-card-actions>
    </mat-card>
  </main>
</div>