<div class="contenido-archivos">
  <div class="header-cont">
      <i class="material-icons">
          add_photo_alternate
          </i>
    <h4 style="margin: 0; padding: 0;" >Imagenes</h4>
    <div style="margin-left: 10px;">
        <button mat-raised-button> <i class="material-icons">
            cloud_upload
            </i> Subir Imagen</button>
    </div>
  </div>
  <div style="width: 98%;  padding: 10px;">
    <mat-form-field class="example-full-width" style="width: 100%;">
      <input matInput placeholder="Buscar" >
    </mat-form-field>
  </div>
  <div class="body-cont">
      <mat-card style="max-height: 500px; height: auto; overflow-y: auto; overflow-x: hidden;width: 100%;">
        Lista de imagenes y carpetas
      </mat-card>

  </div>

  <div class="">

  </div>

</div>
