<div class="animated fadeIn">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              <strong>Lista de Categorias</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-block btn-link" type="button"><i class="fa fa-plus"></i> Agregar Categoria</button><br>
                </div>
                <div class="col-md-12">
                    <table class="table table-responsive-sm table-striped table-bordered table-sm">
                        <thead>
                          <tr>
                            <th  style="width: 10%;">Id</th>
                            <th style="width: 30%;">Nombre</th>
                            <th style="width: 50%">Descripcion</th>
                            <th style="width: 10%;"> </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Ropas</td>
                            <td> aqui va la descripcion de la categoria</td>
                            <td style="text-align: center">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fa fa-sliders"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color: black; padding: 0px;">
                                      <a class="dropdown-item" style="padding-top: 0px; padding-bottom: 0px;"><i class="fa fa-eye" style="color: rgb(0, 0, 0)"></i> Ver</a>
                                      <a class="dropdown-item" style="padding-top: 0px; padding-bottom: 0px;" ><i class="fa fa-edit" style="color: rgb(0, 0, 0)"></i> Editar</a>
                                      <a class="dropdown-item" style="padding-top: 0px; padding-bottom: 0px;" > <i class="fa fa-trash" style="color: rgb(0, 0, 0)"></i>Eliminar</a>
                                    </div>
                                </div>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
              </div>
                
            </div>
          </div>
        </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <strong>Lista de Categorias</strong>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" id="name" type="text" placeholder="Enter your name">
                </div>
              </div>
            </div>
            <!-- /.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">Credit Card Number</label>
                  <input class="form-control" id="ccnumber" type="text" placeholder="0000 0000 0000 0000">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>